@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(
    $font-family: 'Inter, sans-serif',
  ),
  density: 0,
));

@include mat.all-component-themes($my-theme);

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

/* Toast Styles */
.toast-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.toast-error {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.toast-info {
  --mdc-snackbar-container-color: #323232;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
